<!-- why choose us -->
<section class="md:container mx-auto mt-24">
    <div class="text-center pb-12">
      <h2 class="text-4xl font-bold mb-5">Why Choose Us</h2>
      <p class="text-sm text-[rgba(18, 18, 18, 0.60)]">Contrary to popular belief, is not simply random text. It has roots
        in a piece of classical <br>
        Latin literature from 45 BC, making it over 2000 years old.</p>
    </div>


    <div class="grid grid-cols-3">

      <div>
        <div class="flex">
          <div class="mx-auto text-center">
            <i class="fa-solid fa-users w-12 h-12 rounded-full bg-[#1212121A] text-base pt-3"></i>
          </div>
          <div class="ml-4">
            <h3 class="text-lg font-bold">Dedicated Team</h3>
            <div class="w-[80px] pb-3 pt-3">
              <div class="border-t border-gray-400"></div>
            </div>
            <p class="text-sm text-[rgba(18, 18, 18, 0.60)] w-80">Professional employees are there for you to pick the
              most amazing and fresh fruits.</p>
          </div>
        </div>

          <div class="flex">
            <div class="mx-auto text-center">
              <i class="fa-solid fa-gift w-12 h-12 rounded-full bg-[#1212121A] text-base pt-3"></i>
            </div>
            <div class="ml-4">
              <h3 class="text-lg font-bold">Gift Certification</h3>
              <div class="w-[80px] pb-3 pt-3">
                <div class="border-t border-gray-400"></div>
              </div>
              <p class="text-sm text-[rgba(18, 18, 18, 0.60)] w-80">Professional employees are there for you to pick the
                most amazing and fresh fruits.</p>
            </div>
          </div>
    </div>



    <!-- middle image -->
    <div>
      <div class="">
        <img src="./images/whychoose1.png" alt="Section Image">
      </div>
    </div>


    <!-- fresh is best -->
    <div>
      <div class="flex">
        <div class="mx-auto text-center">
          <i class="fa-solid fa-heart w-12 h-12 rounded-full bg-[#1212121A] text-base pt-3"></i>
        </div>
        <div class="ml-4">
          <h3 class="text-lg font-bold">Fresh is Best</h3>
          <div class="w-[80px] pb-3 pt-3">
            <div class="border-t border-gray-400"></div>
          </div>
          <p class="text-sm text-[rgba(18, 18, 18, 0.60)] w-80">Professional employees are there for you to pick the
            most amazing and fresh fruits.</p>
        </div>
      </div>
    </div>




    </div>



  </section>
