*{
    --red:red;
}

.dropdown-menus a {
    font-size: 11pt !important;
    font-weight: normal !important;
    text-transform: none !important;
    border-bottom: 1px solid var(--red);
    color: var(--black);
    transition: all 0.2s;
    line-height: 26px;
    padding: 5px 0px;
}
.dropdown-menus .nav-link {
    font-size: 11pt !important;
    font-weight: normal !important;
    padding: 5px 0px !important;
    text-transform: none !important;
    border-bottom: 1px solid var(--red);
    margin: 5px 7px;
    border-left: 3px solid #ced9df;
    padding-left: 16px !important;
}

@media only screen and (min-width: 1366px) and (max-width: 1529px) {
    .container {
      max-width: 1350px !important;
    }
    .main-menu .nav-item img {
      right: 5px;
    }
    .navbar-dark .navbar-nav .nav-link {
      padding-left: 5px;
    }
    #menuthree img {
      right: 0px;
    }
  }
  @media only screen and (min-width: 1250px) and (max-width: 1365px) {
    .container {
      max-width: 1230px !important;
    }
    .main-menu .nav-item img {
      right: 5px;
    }
    .navbar-dark .navbar-nav .nav-link {
      padding-left: 5px;
    }
    #menuthree img {
      right: 0px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1249px) {
    .container {
      max-width: 1170px !important;
    }
    .main-menu .nav-item img {
      right: 5px;
    }
    .navbar-dark .navbar-nav .nav-link {
      padding-left: 5px;
    }
    #menuthree img {
      right: 0px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
      max-width: 970px !important;
    }
  }
  /* hover dropdown menus */
  @media only screen and (max-width: 991px) {
    .navbar-hover .show > .dropdown-toggle::after {
      transform: rotate(-90deg);
    }
    .top-cart {
      position: absolute;
      right: 15px;
      margin-top: 25px;
    }
    .search-box {
      margin-top: 15px !important;
      margin-bottom: 10px;
      padding: 0px;
    }
    .section-item {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 992px) {
    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item  {
      /* padding: 0.1rem 0.6rem; */
      margin: 0;
    }

    /* makes the dropdown full width  */
    .navbar .megamenu {
      position: static;
    }

    .navbar .megamenu .dropdown-menus {
      width: 100%;
      left: 0;
      right: 0;
      top: 64px;
    }

    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menus,
    .navbar .dropdown .dropdown-menus:hover {
      display: block !important;
    }

  }

  @media (max-width: 767px) {
    .top-search{
      font-size: 12px;
    }
    .logo h1 {
      font-size: 24px;
    }
    .logo-text img {
      max-height: 50px;
    }
    .btn-wide {
      padding: 6px 10px;
      font-size: 11px;
    }
    .cart-login .btn i, .cart-login .btn img {
      height: 20px;
      left: 5px;
      display: none;
    }
    .search-box {
      display: none !important;
    }
    .slider {
      padding: 10px 0 60px 0;
    }
    .main-menu .nav-item img {
      display: none;
    }
    .main-menu {
      justify-content: start !important;
      width: auto !important;
      align-items: start !important;
    }
    .main-menu .nav-item .vertical-line:before,
    .main-menu .nav-item .vertical-line2 {
      height: 40px;
    }
    .top-menu-item:last-child:after {
      display: none !important;
    }
    .top-menu-item {
      margin-bottom: 10px;
    }
    .section-header h2 {
      width: 12rem;
    }
    .section-header h2::before {
      bottom: 0px;
    }
    .itemDetails {
      padding-left: 15px;
    }
    .footer-top h4{
      margin-top: 20px;
    }
    #webBar .cart-login .fa-user{
      left: 5px;
      font-size: 18px;
      top: 6px;
    }
    .cart-count {
      left: 20px;
    }
  }
  @media (max-width: 674px) {
    .share-btn {
      margin-top: 5px;
      margin-left: 0px !important;
    }
  }
  @media (max-width: 469px) {
    .section-item.books:hover .hover-item {
      height: 40%;
    }
  }
