@import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap");

* {
  font-family: "Tiro Bangla", serif;
}

span.nav-link::after {
  content: none;
}

.my-choice {
  background: #ffcc00;
  border-radius: 25px 5px;
}
.dark-bars {
  background-color: #414143;
  width: 190px;
  margin-right: -80px;
  text-align: center;
  clip-path: polygon(44% 0%, 100% 1%, 100% 100%, 0% 100%);
}
.booktitle {
  background: #ced9df;
  text-align: right;
  padding-right: 20px;
  position: absolute;
  width: 60%;
  right: 0;
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 10% 100%);
  font-weight: 700;
  padding-top: 3px;
  padding-bottom: 3px;
}

.hr-1 {
  width: 5%;
  margin-top: -4px;
  color: #d96551;
  border-top: 3px solid;
  opacity: 1;
  /* border-width: 4px; */
}

.fborder h2 {
  font-size: 18px;
  line-height: 44px;
}
.fborder2 h2 {
  font-size: 18px;
  line-height: 44px;
  font-weight: 700;
}
.fmiddle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.fborder h2 {
  border-bottom: 2px solid #ffa29f;
  font-weight: 700;
}
.fborder h5 {
  font-weight: 700;
}
.fborder2 {
  border-bottom: 2px solid #000;
}
.fborder.fright {
  margin-top: 21px;
}
div#footer {
  background-color: #ced9df;
  padding-top: 20px;
  margin-top: 0px;
  background-image: url("assets/images/border.png");
}
.copyright {
  background: #f25c43;
  /* text-align: center; */
}
.shareIcon a {
  font-size: 27px;
  padding: 0px 2px;
}
.title_footer {
  text-align: center;
  padding-top: 20px;
}

.table-data {
  border-left: 4px solid #ced9df;
  border-bottom: 2px solid #ffa29f;
}

.category-book-details {
  color: #8d8d8d;
}
